<div class='photo-info'>
	<h1><%= @photo.title %></h1>
	<h3><%= @photo.taken_on.to_formatted_s(:long) %></h3>
</div>
<div class='lrg-photo'>
	<%= image_tag(@photo.lrg_image_url) %>
	<div class="nav-buttons">
		<div class="previous">
			<%= link_to('Previous', '/' + (@photo.id-1).to_s) if @photo.prev_pic %>
		</div>
		<div class="next">
			<%= link_to('Next', '/' + (@photo.id+1).to_s) if @photo.next_pic %>
		</div>		
</div>
